@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  background-color: #212121;
  color: #d8e3e7;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.hero {
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}

.logo {
  padding-top: 0.5em;
  float: left;
}

.logo a {
  color: #51c4d3;
}

.hero a {
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  padding-top: 2em;
  list-style: none;
  justify-content: space-between;
}

nav li {
  padding: 0.5em;
  display: inline;
}

nav li a {
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5em;
}

nav li a:hover {
  background-color: #0b424e;
}

.selected {
  color: #51c4d3;
  background-color: #0b424e;
}

.container {
  text-align: center;
  padding-top: 10em;
}

::placeholder {
  color: #51c4d3;
  opacity: 0.5;
}

.container div {
  padding: 2em;
  font-size: larger;
}

.container input {
  border-radius: 10px;
  border: transparent;
  background-color: #0b424e;
  padding: 0.8em;
  width: 17vw;
}

.container button {
  font-weight: bold;
  color: #51c4d3;
  border-radius: 10px;
  border: transparent;
  background-color: #0b424e;
  padding: 0.8em;
  width: 80px;
}

.container button:hover {
  cursor: pointer;
}

.container input:focus {
  outline: none;
}

.container .input {
  width: 50vw;
  max-width: 30%;
}

.words-container span {
  display: inline-flex;
  margin: 0.2em 0.2em;
  padding: 0.4em;
  border-radius: 10px;
}

.focused {
  background-color: #0b424e;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  padding: 2em;
}

footer a {
  text-decoration: none;
  color: #51c4d3;
  background-color: #0b424e;
  border-radius: 10px;
  padding: 0.5em;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
